<div class="cards">
    <md-card class="three-cards">
      <md-card-title>
        <img src="../assets/money.png">
      </md-card-title>
      <md-card-content style="width: 75%; font-size: 1rem;">
        Na portalu InProfesa možete naći rješenje sukladno Vašim zahtjevima i potrebama, bilo da ste poslodavac ili posloprimac.
      </md-card-content>
    </md-card>

    <md-card class="three-cards">
      <md-card-title>
        <img src="../assets/ad.png">
      </md-card-title>

      <md-card-content style="width: 75%; font-size: 1rem;">
        Koristeći naš jednostavan sustav, oglasite svoje proizvode i usluge ciljanim skupinama kupaca. Ako ste fizička osoba, pretražite
        radna mjesta za Vaše zanimanje.
      </md-card-content>
    </md-card>

    <md-card class="three-cards">
      <md-card-title>
        <img src="../assets/face.png">
      </md-card-title>
      <md-card-content style="width: 75%; font-size: 1rem;">
        Pretražite profile tvrtki raznih gospodarskih grana i pronađite poslovnog partnera.
      </md-card-content>
    </md-card>
  </div>