.navbar{
	display:flex;
	align-items: center;
	width:100vw;
	height: 5rem;
	position: fixed;	
	top: 0;
	background-image: url('./assets/would.jpg');
	background-size: 100% 100%;
	z-index: 1;
}

.headline{
	font-family: "Calligraffitti", cursive;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-right: auto;
	letter-spacing: 5px;
	color: white;
	font-weight: 700;
}
    .navlink{
	text-decoration: none;
	color: white;
	font-family: "Poiret One", cursive;
	letter-spacing: 2px;
	cursor: pointer;
}


.identity-icon{
	margin-right: 1.1rem;
	margin-top: 1.1rem;
	color: white;
}


/* Desktop */
@media all and (min-width: 769px)
{
	.headline{
		font-size: 2rem;
	}

	.identity-container{
		display:none;
	}
	.navlink{
		font-size: 1.8rem;
		margin-right: 4rem;
		margin-top: 1.1rem;
	}
}

/* Mobile */
@media all and (max-width: 768px)
{
	.headline{
		font-size: 2.15rem;
	}
	.identity-container{
    	margin-right: 0;
		margin-left: auto;
		color: white;
		cursor: pointer;
	}
	.navlink{
		display:none;
	}
	.mobile-hidden{
		display:none;
	}
}