<md-card class="predaja-container">
  <md-card-title>
    Predaja oglasa
  </md-card-title>
  <md-card-content >
    <form class="predaja-form" #form="ngForm" (ngSubmit)="predajOglas(form.value)">

      <md-input-container>
        <input name="naslov" required mdInput placeholder="Naslov oglasa" ngModel>
      </md-input-container>

      <md-select style="font-size:14px;" placeholder="Struka" name="odabranaStruka" ngModel>
        <md-option style="font-size:14px;" *ngFor="let struka of listaStruka" [value]="struka.value">
          {{ struka.viewValue }}
        </md-option>
      </md-select>
      <md-input-container>
        <textarea [(ngModel)]="textOglasa"  mdInput placeholder="Tekst oglasa" [ngModelOptions]="{standalone: true}"></textarea>
      </md-input-container>


      <md-radio-group [(ngModel)]="radio" [ngModelOptions]="{standalone: true}">
        <md-radio-button value="Supply">
          Ponuda
        </md-radio-button>
        <md-radio-button value="Demand">
          Potražnja
        </md-radio-button>
      </md-radio-group>
      <button md-raised-button style="margin:auto" color="accent" type="submit"> Predaj oglas </button>
    </form>
  </md-card-content>
      <div *ngIf="spinnerShown" class="loader"></div>


</md-card>