<md-card class="registracija-container">
  <md-card-content>
  
    <!-- FORM  -->
    <form class="reg-form" #form="ngForm" (ngSubmit)="onSubmit(form.value)" >

  <md-select placeholder="Tip registracije" [(ngModel)]="osobaOption" [ngModelOptions]="{standalone: true}">
   <md-option *ngFor="let osoba of tipOsobe" [value]="osoba.value">{{ osoba.name }}</md-option>
  </md-select>
      <md-input-container *ngIf="osobaOption === 'Pravna osoba'">
        <input mdInput name="companyName" required placeholder="Ime tvrtke" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="username" required placeholder="Korisničko ime" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="password" required type="password" placeholder="Lozinka" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="passCheck" required type="password" placeholder="Potvrda lozinke" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="email" required placeholder="E-mail" ngModel>
      </md-input-container>

      <md-select style="font-size:14px;" placeholder="Struka" name="odabranaStruka" ngModel>
        <md-option style="font-size:14px;" *ngFor="let struka of listaStruka" [value]="struka.value">
          {{ struka.viewValue }}
        </md-option>
      </md-select>

      <md-input-container *ngIf="osobaOption === 'Pravna osoba'">
        <input name="faks" mdInput placeholder="Faks" ngModel>
      </md-input-container>

      <md-input-container *ngIf="osobaOption === 'Pravna osoba'">
        <input name="kontaktIme" mdInput placeholder="Kontakt(ime)" ngModel>
      </md-input-container>
      <md-input-container>
        <input name="brTelefona" mdInput placeholder="Kontakt(broj telefona)" ngModel>
      </md-input-container>
      <md-input-container>
        <textarea [(ngModel)]= "kljucneRijeci" mdInput placeholder="Ključne riječi(odvojene zarezom)" [ngModelOptions]="{standalone: true}"></textarea>
      </md-input-container>
    
    <md-checkbox name="slazemSe" ngModel required>Slazem se s uvjetima korištenja </md-checkbox>

      <button md-raised-button type="submit" color="accent"> Registriraj me </button>
    </form>

  </md-card-content>

    <div *ngIf="spinnerShown" class="loader"></div>

</md-card>