<md-card class="registracija-container">
  <md-card-title>
    Registracija
  </md-card-title>
  <md-card-content>
    <md-radio-group style="display:flex" [(ngModel)]="tipReg">
      <md-radio-button style="flex:1" value="fizickaOsoba">
        Fizička osoba
      </md-radio-button>
      <md-radio-button style="flex:1" value="pravnaOsoba">
        Pravna osoba
      </md-radio-button>
    </md-radio-group>
    <!-- FORM  -->
    <form class="regform" #form="ngForm" (ngSubmit)="onSubmit(form.value)" >

      <md-input-container *ngIf="tipReg === 'pravnaOsoba'">
        <input mdInput name="companyName" required placeholder="Ime tvrtke" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="username" required placeholder="Korisničko ime" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="password" required type="password" placeholder="Lozinka" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="passCheck" required type="password" placeholder="Potvrda lozinke" ngModel>
      </md-input-container>

      <md-input-container>
        <input mdInput name="email" required placeholder="E-mail" ngModel>
      </md-input-container>

      <md-select style="font-size:14px;" placeholder="Struka" name="odabranaStruka" ngModel>
        <md-option style="font-size:14px;" *ngFor="let struka of listaStruka" [value]="struka.value">
          {{ struka.viewValue }}
        </md-option>
      </md-select>

      <md-input-container *ngIf="tipReg === 'pravnaOsoba'">
        <input name="faks" mdInput placeholder="Faks" ngModel>
      </md-input-container>

      <md-input-container *ngIf="tipReg === 'pravnaOsoba'">
        <input name="kontaktIme" mdInput placeholder="Kontakt(ime)" ngModel>
      </md-input-container>
      <md-input-container>
        <input name="brTelefona" mdInput placeholder="Kontakt(broj telefona)" ngModel>
      </md-input-container>
      <md-input-container>
        <textarea name="kljucneRijeci" mdInput placeholder="Ključne riječi(odvojene zarezom)" ngModel></textarea>
      </md-input-container>
    
    <md-checkbox name="slazemSe" ngModel required>Slazem se s uvjetima korištenja </md-checkbox>

      <button md-raised-button type="submit" color="accent"> Registriraj me </button>
    </form>

  </md-card-content>
</md-card>